<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="register_css.css"> 
</head>
<body>
    <div class="signup-box">
        <h2>Register</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Full Name</label>
          </div>
          <div class="user-box"> 
            <input type="text" name="" required="">
            <label>Position</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
          <a href="http://127.0.0.1:5500/teamplates/login.html">  <!-- Put link here-->
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Create Account
          </a>
        </form>
      </div>
</body>
</html>
